.button-container{
    width:100%;
    height:60px;
    background-color:white;
    border-top: 1px solid rgb(152, 150, 150);
    display: flex;
    justify-content:center;
    align-items:center;
}

.btn{
    width:90%;
    height:40px;
    background-color:#aaaaaa;
    border:none;
    color:white;
}